body { 
	background-color:lightgray;
	background-color:white;
    font-family: 'Ubuntu Mono', Monaco, monospace;    
}

h1.title {
	margin-top: 3px; 
	text-align: center;	
    margin-bottom: 3px;
}

.title { 
	margin-top: 0px; 
}

.power-gauge {
    height: 270px;
}

.meter-gauge {
    text-align: center;
}

.meter-spacer {
    padding-top: 35px;
}

.chart-spacer {
    padding-top: 10px;
}

.meter-gauge span {
    background-color: black;
    color: white;
    border: 1px solid white;
    padding-top: 1px;
    padding-left: 4px;
    padding-right: 4px;
    line-height: 40px;
    font-size: 40px;
}

.meter-gauge span.last-digit {
    background-color: darkred;
}

.label-before {
    color: gray !important;
    background-color: transparent !important;
    line-height: 40px;
    font-size: 24px !important;
    border: 0px !important;
}

.label-after {
    color: gray !important;
    background-color: transparent !important;
    line-height: 40px;
    font-size: 24px !important;
    border: 0px !important;
}

/* 
  Allow angular.js to be loaded in body, hiding cloaked elements until 
  templates compile.  The !important is important given that there may be 
  other selectors that are more specific or come later and might alter display.  
 */
[ng-cloak], .ng-cloak {
  display: none !important;
}

.power-bar-chart {
    margin-right: 1px;
}

.chart-selection-menu {
    text-align: center;   
}

.nav-tabs>li>a, .nav-pills>li>a {
    padding-right: 6px;
    padding-left: 6px;
    line-height: 13px;
    padding-top: 3px;
    padding-bottom: 4px;
    outline: none;
    color: gray;
    background-color: transparent;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus>a:hover {
    color: white;
    background-color: cornflowerblue;
}

.centered-pills {  
    text-align: center
}
.centered-pills ul.nav-pills {
    display: inline-block
}
.centered-pills li {
    display: inline
}
.centered-pills a {
    float: left
}
* html .centered-pills ul.nav-pills, *+html .centered-pills ul.nav-pills {
    display: inline
}

@media all and (max-width: 1280px) {
    #toast-container {
        display: none;
    }
}

#toast-container > .toast-info {
  background-color: cornflowerblue !important;
}
